/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .container {
    display: flex;
    background: white;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 30px;
  }

  .sidebar-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
  }

  .sidebar-profile-decoration-line{
    height: 1px;
    width: 100%;
    background-color: #E4E4E4;
  }

  .sidebar-profile-name{
    font-size: 16px;

  }

  .sidebar-profile-image {
    width: 127px;
    height: 127px;
    border-radius: 250px;
    border: 0.15px #373839 solid;
  }

  .header-profile-name {
    font-size: 16px;
    color: #373839;
    font-weight: 500;
    font-family: 'Noto Sans KR';
  }
  
  .menu-component {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar-item {
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .sidebar-item-footer {
    color: #868686;
    font-size: 16px;
  }
  
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .profile-details {
    font-size: 28px;
    color: black;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .profile-label {
    font-size: 16px;
    color: black;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .profile-value {
    font-size: 16px;
    color: #767676;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .profile-description {
    color: #767676;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    word-wrap: break-word;
  }